.play-button{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    border: 0;
    outline: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    .play-icon-wrap{
        svg {
            width: 100%;
            height: 100%;
        }
    }
}