.player-style-buttons {
	margin-bottom: 16px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 16px;
}

.player-style-button {
	padding: 8px 16px;
	margin-left: -1px;
	border: 1px solid #ddd;
	background-color: transparent;
	display: flex;
	justify-content: center;
	// aspect-ratio: 1/1;
	width: 100%;
	height: auto;
	border-radius: 4px;

	div {
		width: 100%;
		height: 100%;
	}

	svg {
		width: 100%;
		height: auto;
	}

	&.active {
		background-color: #3c3c3c;
		svg {
			filter: invert(1) contrast(10);
		}
	}
}

.block-sidebar-legend {
	font-size: 11px;
	font-weight: 500;
	line-height: 1.4;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: calc(8px);
	padding: 0px;
}

.color-settings-youtubelazyload {
	border: none !important;
	padding: 0px !important;
	margin: 16px 0px !important;
}

.drop-zone-wrapper {
	background: lightgray;
	padding: 32px;
	position: relative;
	text-align: center;
	margin-bottom: 16px;
}
